#Hero {

    background-image: url('bg-image.png');
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Hero h1 {
    font-size: 50px;
    text-align: center;
}

#Hero p {
    font-weight: lighter;
    text-align: center;
}

#Hero section section {
    display: flex;
    justify-content: center;
}

#Hero section section button {
    background-color: #7cc576;
    align-items: center;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.5s, color 0.5s;
}

#Hero section section button:hover {
    background-color: #fff;
    color: #7cc576;
}

#img {
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #f0f0f0;
}
.mobile_only,.brand{
    display: none;
}



nav span {
    gap: 25px;
    display: flex;
}

.nav_bt {
    color: #000;
    background-color: #f0f0f0;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.nav_bt:hover {
    color: #7cc576;
    background-color: antiquewhite;
}

#about {
    width: 100%;
    height: auto;
    color: #524d53;
    background-color: #fff;
}

#services {
    width: 100%;
    height: auto;
    color: #524d53;
    background-color: #fff;
}

#portfolio {
    width: 100%;
    height: auto;
    color: #524d53;
    display: flex;
    align-items: end;
    justify-content: center;
}

/* #team {
    width: 100%;
    height: 150vh;
} */

#contact {
    width: 100%;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
}

@media screen and (max-width: 1024px) {
    .nav_bt{
        display: none;
    }
    .mobile_only{
        display: block;
    }
    nav{
        justify-content: space-between;
        padding: 0 40px;
    }
    
}

